@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter;
    background-color: #23252C;
}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-logo {
    background-color: #F3BF99;
    width: 317px;
    height: 317px;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main {
    width: 317px;
    height: 399px;
    background-color: #1A1B21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-name, .profile-title, .profile-website {
    margin: 0;
    padding: 0;
}

.profile-name {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #F3BF99;
}

.profile-website {
    margin-top: 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #F5F5F5;
}

.contact-container {
    margin-top: 20px;
    width: 267px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.email-btn, .linkedin-btn{
    border: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: hug(34px);

    padding: 9px 13px 9px 11px;
    gap: 8px;

    border: 1px solid #d1d5d8;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #374151;
}

.linkedin-btn {
    color: white;
    border: 1px solid #5093E2;
    background-color: #5093E2;
}

.about-int-container {
    width: 247px;
    height: 201px;
}

.about-heading, .interests-heading {
    font-size: 16px;
    font-weight: 700;
    color: #F5F5F5;
    margin: 0;
    padding: 0;
    line-height: 150%;
}
.about-text, .interests-text {
    font-size: 10px;
    font-weight: 400;
    color: #DCDCDC;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

.about-heading {
    margin-top: 15px;
}

.interests-heading {
    margin-top: 15px;
}

footer {
    width: 317px;
    height: 64px;
    background-color: #161619;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.footer-icons {
    color: #918E9B;
    vertical-align: middle;
    margin: 0px 12px 0px 12px;
}